* {
  margin: 0px;
  padding: 0px;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
  height: 100px;
}

.lobo{
  height: 30px;
}

#nuevo{
  color: white;
  background-color: black;
  margin-bottom: 10px
}

nav{
    background-color: black;
}
nav li a {
    text-decoration: none;
    color: white;

}
